.heading{
    margin-top: 5px;
    text-transform: uppercase;
}

.form {
    overflow: auto !important;
    box-sizing: border-box !important;
    width: 100% !important;
    height: auto !important;
    font-size: 1rem !important;
    align-items: center !important;
    padding: 5px;
}

.formField label {
    text-transform: uppercase;
}

.button{
    margin: 10px 5px;
    background-color: #3c6aaf !important;
    border-radius: 12px;
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none !important;
    text-transform: uppercase;
}

.button:hover{
    background-color: #115ac8 !important;
    font-size: 1.0rem;
    box-shadow: 0 0 10px #115ac8ce !important;
}